@import "_variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$nav-link-height: 500px;
$navbar-padding-x: 500px;
$navbar-nav-link-padding-x:  400px;
$navbar-brand-font-size:  200px;