header,
.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  height: auto;
}
.headerText {
  text-align: left;
  font-size: 1em;
  padding: 0;
  margin: auto;
  height: auto;
}
.main-nav li a {
  display: inline-block;
  text-align: justify;
  margin: auto;
  padding: 1.5em;
  border: 2px solid transparent;
  height: auto;
}
.main-nav li {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.main-nav {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
.main-nav .active {
  background-color: rgb(113, 36, 202);
  color: #fff;
}
.icn-logo {
  margin-right: auto;
  padding: 0.8em;
  background: #54606b;
  color: #fff;
  height: auto;
}
.main-nav li a:hover {
  background-color: rgb(113, 36, 202);
  color: #fff;
}
/* ===================
  MEDIA QUERIES
======================= */
@media (min-width: 0) and (max-width: 768px) {
  header .icn-logo, .main-nav {
    display: none;
  }
  .headerText {
    padding: 20px;
  }
}

@media (min-width: 769px) {

}