img {
  width: 200px;
  height: 200px;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.todo {
  text-align: justify;
  color: blueviolet;
}

.signinBody {
  padding: 100px 20px;
  height: 250px;
  background-color: lavender;
}

input {
  padding: 7px;
  border-radius: 5px;
  width: 70%;
  border: blueviolet 1px solid;
}

input[type="submit"] {
  margin: 10px 0px;
  padding: 8px;
  color: white;
  background: blueviolet;
  border: none;
  width: auto;
}

.admin {
  float: left;
  width: 30%;
  background-color: burlywood;
  margin-left: 50px;
  background-color: white;
}

.employee {
  float: left;
  width: 30%;
  margin-left: 350px;
  background-color: white;
}

form {
  float: right;
  width: 80%;
  padding: 20px;;
}