img {
  width: 200px;
  height: 200px;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.todo {
  text-align: justify;
  color: blueviolet;
}

.signinBody {
  padding: 100px 20px;
  height: 200px;
}

input {
  padding: 5px;
}

input[type="submit"] {
  margin: 10px 0px;
  padding: 8px;
  color: orangered;
}

.admin {
  float: left;
  width: 30%;
  background-color: burlywood;
  margin-left: 50px;
}

.employee {
  float: left;
  width: 30%;
  margin-left: 350px;
  background-color: burlywood;
}

form {
  float: right;
  width: 80%;
  padding: 20px;;
}