* {
  box-sizing: border-box;
}

body {
  color: #576366;
  background: #5fcf80;
  margin: 0;
  padding-top:;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
